body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(94, 90, 90);
    margin: 0px;
}

.header {
    background-color: #22222222;
    color: white;
    padding: 20px;
    text-align: center;
}

.nav {
    margin-top: 15px;
}

.link {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.link:hover {
    color: blue;
}

.main {
    width: 80%;
    margin: 30px auto;
}

.section {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.footer {
    background-color: #22222222;
    color: white;
    text-align: center;
    padding: 30px;
}

.video {
    width: 600px;
    max-width: 100%;
}

.product {
    padding: 20px;
    margin-top: 20px;
}

.product-image {
    width: 300px;
    max-width: 100%;
}